<!DOCTYPE html>
<html xmlns:"http://www.thymeleaf.org">
	<head>
		<link th:href="@{/styles/site.css}" rel="stylesheet"/>
		<link th:href="@{/styles/index.css}" rel="stylesheet"/>
	</head>
	<nav id="navbar" th:fragment="navbar" class="materialize">
		<section class="" style="text-align:left;width:100%;margin-bottom:10px;">
			<a class="custom-nav-link" th:href="@{/home}">Home</a> 
			<a class="custom-nav-link" th:href="@{/create}">Create</a>
			<a class="custom-nav-link" th:href="@{/}">Login</a>
			<a class="custom-nav-link" th:href="@{/signup}">Signup</a>
		</section>
	</nav>
</html>