body {
	margin:2%;
	margin-top:8px;
}

button {
	background:white;
	border:1px solid black;
	border-radius:5px;
	color:black;
	padding:3px 9px;
	transition: all 0.3s;
}
	button:hover {
		background:black;
		color:white;
	}

.custom-nav-link {
	margin:2px 6px;	
	transition: all 0.3s;
}
	.custom-nav-link:hover {
		color:limegreen;
		font-weight:bold;
	}

.materialize-align-left {
	animation: MaterializeLeftAlign 0.75s ease-in-out forwards;
	color:red;
	transform: translate(50px);
}

.materialize {
	animation: Materialize 0.55s ease-in-out forwards;
	transform: translateY(25px);
}

@keyframes Materialize {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	  transform: translateX(0px);
	}
}

@keyframes MaterializeLeftAlign {
	from {
		opacity: 0;
		color:blue;
	}
	to {
		opacity: 1;
		color:red;
		transform: translateX(0px);
	}
}